@import '~@/styles/mixins'
@import '~@/styles/variables'

#nav
  padding: 10px 20px 15px
  background: $dark-queen-blue
  // border-bottom: 1px solid $dark-queen-blue
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between


h1, p
  margin: 0
  color: $light

h1
  font-weight: 400
  font-size: 40px
  font-family: $title-font

p
  font-size: 12px
  margin-left: 35px
  // margin-bottom: 5px

.btn
  background: transparent
  color: $light
  font-weight: 600
  text-decoration: none
  font-size: 18px
  border: 1px solid $light
  padding: 10px 20px
  border-radius: 8px

  &:hover
    background: $light
    color: $dark-queen-blue
