@import '~@/styles/mixins'
@import '~@/styles/variables'

.days-grid
  // Make today's date standout
  .days-column:first-of-type .date-header
    color: $today-blue

.days-column
  height: 93vh
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: column
  flex-grow: 1

  // +media('lg')
  &:nth-last-child(-n+3)
    display: none

  .days
    display: flex
    width: 100%
    height: 93vh
    flex-direction: column
    position: relative
    min-height: 1000px

    .hours
      position: absolute
      height: 100%
      z-index: 1
      right: 0
      bottom: 0
      display: flex
      flex-direction: column
      justify-content: space-between

      .hour
        height: 4.16%
        display: flex
        justify-content: center
        align-items: center

        p
          padding: 0 5px
          margin: 0
          vertical-align: middle
          font-size: 0.6em



.date-header
  padding: 10px 0 5px
  border-bottom: 2px solid rgba(0,0,0,0.3)
  width: 100%
  text-align: center
  // font-family:

  p
    margin: 0
    line-height: 0.8em
    font-size: 0.7em

  .date
    font-size: 2em
    font-weight: 800
    line-height: 0.9em

dump_media_cache()