name: Deploy

on:
  push:
    branches:
      - main
    paths:
      - 'backend/*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "goodwinds" #Must be unique in Heroku
          heroku_email: "alex.laviolette92@gmail.com"
          usedocker: true
          healthcheck: "https://goodwinds.herokuapp.com/status"